---
filter:  haml
dirty:   true
---

.post
  %a{:name => "#{post.day}"}
    %h3{:id => "day-#{post.day}"}
      == ##{post.day}:
      = post.title
    - if (show_tags rescue false)
      %span= write_tags(post)
    = render post
  