---
title:       Home Page
created_at:  2008-08-02 14:06:40.000000 -06:00
filter:
  - erb
---
<h1>Pages</h1>
<% 
  pages = @pages.find(:all, :sort_by => "title", :in_directory => "") 
  pages.each do |page|
%>
  <h2><a href="<%= page.url %>"><%= page.title %></a></h2>
<% end %>


<h1>Posts</h1>
<% 
  pages = @pages.find(:all, :sort_by => "created_at", :in_directory => "posts")
  pages.each do |page|
%>
  <h2><a href="<%= page.url %>"><%= page.title %></a></h2>
<% end %>

<h1>Tags</h1>
<% all_tags.each do |tag| %>
  <h2><a href="/tags/<%= tag %>.html"><%= tag %></a></h2>
<% end %>
  